<!-- Event Logs -->
<div class="row justify-content-center">
  <!-- Team A Events -->
  <div class="col-4 text-center">
    <div class="event-log team-a-log">
      <div class="events-list">
        <div *ngFor="let event of teamAEvents" class="event-item">
          {{ event }}
        </div>
      </div>
    </div>
  </div>

  <!-- Highlight Events -->
  <div class="col-4 text-center">
    <div class="event-log highlight-log">
      <div class="events-list">
        <div *ngFor="let event of highlightEvents" class="event-item">
          {{ event }}
        </div>
      </div>
    </div>
  </div>

  <!-- Team B Events -->
  <div class="col-4 text-center">
    <div class="event-log team-b-log">
      <div class="events-list">
        <div *ngFor="let event of teamBEvents" class="event-item">
          {{ event }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Undo Buttons Row -->
<div class="row justify-content-center">
  <!-- Team A Undo -->
  <div class="col-4 text-center">
    <div class="undo-button-container team-a-undo">
      <button 
        *ngIf="showControls && teamAScore > 0" 
        class="btn btn-undo" 
        (click)="undoTeamA.emit()">
        <i class="fas fa-undo"></i>
      </button>
    </div>
  </div>

  <!-- Empty space for highlight column -->
  <div class="col-4 text-center">
  </div>

  <!-- Team B Undo -->
  <div class="col-4 text-center">
    <div class="undo-button-container team-b-undo">
      <button 
        *ngIf="showControls && teamBScore > 0" 
        class="btn btn-undo" 
        (click)="undoTeamB.emit()">
        <i class="fas fa-undo"></i>
      </button>
    </div>
  </div>
</div>
