<!-- Event Logs -->
<div class="row justify-content-center">
  <!-- Team A Events -->
  <div class="col-3 text-center">
    <div class="event-log team-a-log">
      <div class="events-list">
        <div *ngFor="let event of teamAEvents; let i = index" 
             class="event-item"
             [class.undone]="event.isUndone">
          <span class="event-text" [innerHTML]="event.text"></span>
          <button *ngIf="isEditMode && !event.isUndone" 
                  class="btn btn-edit-event" 
                  (click)="editEventClick(i, 'A', 'goal')"
                  title="Editar evento">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Highlight Events -->
  <div class="col-5 text-center">
    <div class="event-log highlight-log">
      <div class="events-list">
        <div *ngFor="let event of highlightEvents; let i = index" 
             class="event-item"
             [class.undone]="event.isUndone">
          <span class="event-text" [innerHTML]="event.text"></span>
          <button *ngIf="isEditMode && !event.isUndone" 
                  class="btn btn-edit-event" 
                  (click)="editEventClick(i, null, 'highlight')"
                  title="Editar evento">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Team B Events -->
  <div class="col-3 text-center">
    <div class="event-log team-b-log">
      <div class="events-list">
        <div *ngFor="let event of teamBEvents; let i = index" 
             class="event-item"
             [class.undone]="event.isUndone">
          <span class="event-text" [innerHTML]="event.text"></span>
          <button *ngIf="isEditMode && !event.isUndone" 
                  class="btn btn-edit-event" 
                  (click)="editEventClick(i, 'B', 'goal')"
                  title="Editar evento">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

