<div class="game-card" 
     [class.disabled]="isDisabled"
     [style.background]="gameMode.gradient"
     (click)="onCardClick()"
     [title]="getDisabledTooltip()">
  
  <div class="card-content">
    <div class="card-icon">
      <span [innerHTML]="gameMode.icon"></span>
    </div>
    
    <!--h3 class="card-title">{{ gameMode.title }}</h3-->
    
    <button class="card-button" [disabled]="isDisabled">
      <span *ngIf="!isDisabled">{{ gameMode.buttonText }}</span>
      <span *ngIf="isDisabled" class="locked-button">
        <span class="lock-icon">🔒</span>
        {{ gameMode.buttonText }}
      </span>
      <span class="button-arrow"></span>
    </button>

    <p class="card-description">{{ gameMode.description }}</p>

  </div>
</div>
