name: Build and push frontend Docker image

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            docker.io/franciscogmalheiro/scolari-frontend:latest
            docker.io/franciscogmalheiro/scolari-frontend:${{ github.sha }}
          # optional: API_BASE_URL override
          build-args: |
            API_BASE_URL=/api
      - name: Trigger watchtower update
        run:  |
          curl -X POST "https://$WATCHTOWER_HOST/v1/update" \
          -H "Authorization: Bearer $WATCHTOWER_HTTP_API_TOKEN"
        env:
          WATCHTOWER_HOST: watchtower.scolari-app.pt
          WATCHTOWER_HTTP_API_TOKEN: ${{ secrets.WATCHTOWER_HTTP_API_TOKEN }}
